body{
    font-family: 'Noto Sans Mono', monospace;
}

.div-projects{
  background-image: url(ai_background.png);
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}



.hdg-1 {
  font-family: "Press Start 2P", sans-serif;
}


.anim {
  font-family: "Press Start 2P", sans-serif;
  animation: glitch 6s infinite;
}

.anim::after {
  position: absolute;
  content: attr(data-text);
  bottom: 0;
  left: 0;
  visibility: hidden;
}

/* .anim:hover {
  animation: glitch 3s infinite;
} */

.anim:hover::after {
  animation: clip 3s infinite;
}

@keyframes glitch {
  30% {
    text-shadow: 4px -4px 0px #3c55ff;
  }
  32% {
    text-shadow: -4px 4px 0px #ff5500;
  }
  0%,
  28%,
  34% {
    text-shadow: none;
  }
  31%,
  32% {
    transform: translate(-7px, 7px);
  }
  32%,
  33% {
    transform: translate(7px, -7px);
  }
  31%,
  33% {
    transform: translatex(0);
  }
  50% {
    text-shadow: 4px 4px 0px #3c55ff;
  }
  52% {
    text-shadow: -4px -4px 0px #ff5500;
  }
  48%,
  54% {
    text-shadow: none;
  }
  49%,
  52% {
    transform: translatex(0);
  }
  50% {
    transform: translate(7px, 7px);
  }
  51% {
    transform: translate(-7px, -7px);
  }
}

